<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebar(activeMain, activeSub)">
    <div class="sidebar-scope">
        <a th:href="@{/root/security}"
           class="sidebar-menu__link"
           th:classappend="${activeMain == 'security'} ? ' sidebar-menu__link--current' : ''">
            <span class="material-symbols-outlined sidebar-menu__icon">group</span>
            <span>보안 정책 설정</span>
        </a>

        <a th:href="@{/root/scheduler}"
           class="sidebar-menu__link"
           th:classappend="${activeMain == 'scheduler'} ? ' sidebar-menu__link--current' : ''">
            <span class="material-symbols-outlined sidebar-menu__icon">group</span>
            <span>스케쥴러 설정</span>
        </a>

        <a th:href="@{/root/utility}"
           class="sidebar-menu__link"
           th:classappend="${activeMain == 'utility'} ? ' sidebar-menu__link--current' : ''">
            <span class="material-symbols-outlined sidebar-menu__icon">settings</span>
            <span>유틸리티 설정</span>
        </a>

        <a th:href="@{/root/sales}"
           class="sidebar-menu__link"
           th:classappend="${activeMain == 'sales'} ? ' sidebar-menu__link--current' : ''">
            <span class="material-symbols-outlined sidebar-menu__icon">group</span>
            <span>매출 관리</span>
        </a>

        <div class="sidebar-menu__group">
            <div class="sidebar-menu__link"
                 th:classappend="${activeMain == 'account'} ? ' sidebar-menu__link--current' : ''">
                <span class="material-symbols-outlined sidebar-menu__icon">request_quote</span>
                <span>계정 관리</span>
            </div>

            <div class="sidebar-menu__child-wrap">
                <a th:href="@{/root/member/edit}"
                   class="sidebar-menu__child-link"
                   th:classappend="${activeSub == 'member-edit'} ? ' sidebar-menu__child-link--current' : ''">
                    사용자 정보 수정
                </a>
                <a th:href="@{/admin/member/list}"
                   class="sidebar-menu__child-link"
                   th:classappend="${activeSub == 'member-create'} ? ' sidebar-menu__child-link--current' : ''">
                    계정 생성
                </a>
            </div>
        </div>
    </div>
</th:block>
</html>
