<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footerFragment" class="footer_final-1">
    <div class="footer-section">
        <div class="container-3">
            <p class="footer-logo-text">BEEDAN</p>
        </div>
        <div class="container-5">
            <p class="footer-link-text">© 2026 BEEDAN . ALL RIGHTS RESERVED.</p>
        </div>
    </div>

    <div class="footer-section">
        <p class="footer-label">LEGAL</p>
        <a th:href="@{/about}" class="footer-link-text no-underline">ABOUT</a>
        <a th:href="@{/terms}" class="footer-link-text no-underline">TERMS OF SERVICE</a>
    </div>

    <div class="footer-section">
        <p class="footer-label">SUPPORT</p>
        <a th:href="@{/notice/list}" class="footer-link-text no-underline">NOTICE</a>
        <a th:href="@{/inquiry/list}" class="footer-link-text no-underline">INQUIRY</a>
    </div>

    <div class="footer-section">
        <p class="footer-label">LOCATION</p>
        <p class="footer-link-text" style="text-transform: none;">
            95, Gasan digital 2-ro, Geumcheon-gu, Seoul, Korea
        </p>
    </div>
</footer>
</html>